body {background:#ffffa7;}
h1 {padding: 0px 510px 0px 570px;}
h3 {padding: 0px 470px 0px 530px;}

h2 {padding: 40px 200px 40px 200px;}
ul {padding: 0px 190px 0px 190px;}

a, h1, h3, li, ul {font-family: garamond;}
